version: '3.1'
services:
  solr:
    image: solr:7.4
    ports:
      - "8983:8983"
    expose:
      - "8983"
    volumes:
      # When mounting update the code below to where you want to save your SOLR data
      # Please do before: sudo chown 8983:8983 /mnt/data/solr
      # - "/mnt/data/solr:/opt/solr/server/solr/mycores"
    entrypoint:
      - docker-entrypoint.sh
      - solr-precreate
      - dataset
  peppermint:
    image: qcifengineering/peppermint:latest
    ports:
      - "8080:8080"
    expose:
      - "8080"
    links:
      - solr:solr
    # Uncomment volume def below for local development
    # volumes:
    #   - "./scripts:/opt/peppermint/scripts"
    #   - "./config.json:/opt/peppermint/config.json"
    #   - "./build/libs/peppermint-fat.jar:/opt/peppermint/build/libs/peppermint-fat.jar"
    environment:
      - SOLR_HOST=solr
      - SOLR_PORT=8983
  peppermint_portal:
    image: qcifengineering/peppermint-portal:latest
    ports:
      - "9001:80"
    # Uncomment below for local development
    # volumes:
    #   - "../peppermint-portal/build:/usr/share/nginx/html"
  solrcorsproxy:
    image: shakyshane/nginx-cors-plus
    ports:
      - "8980:80"
    links:
      - solr:solr
    environment:
      - TARGET=http://solr:8983/solr/dataset/select
  proai:
    image: qcifengineering/proai-solr-driver:latest
    links:
      - postgres:postgres
      - solr:solr
    ports:
      - "9000:8080"
    # Uncomment volume def below for local development
    # volumes:
    #   - "../proai-solr-driver/proai.properties:/var/lib/jetty/webapps/ROOT/WEB-INF/classes/proai.properties"
    #   - "../proai-solr-driver/build/libs/proai-solr-driver-fat.jar:/var/lib/jetty/webapps/ROOT/WEB-INF/lib/proai-solr-driver-fat.jar"
  postgres:
    image: postgres:11.1-alpine
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=proai
      - POSTGRES_PASSWORD=proai
      - POSTGRES_DB=proai
